   <div class="mainwidget" cond="$layout_info->wcode1 || $layout_info->module_srl1">
    <!--@if($layout_info->module_srl1)--> 
    <img class="zbxe_widget_output" widget="photoslider" skin="imageslider" colorset="white" order_target="list_order"
     module_srls="{$layout_info->module_srl1}" thumbnail_type="crop" /> 
    <!--@elseif($layout_info->wcode1)-->{$layout_info->wcode1}
    <!--@end-->
    </div>


   <div class="mainwidget" cond="$layout_info->wcode2 || $layout_info->module_srl2">    
    <!--@if($layout_info->module_srl2)--> 
    <img class="zbxe_widget_output" widget="photoslider" skin="imageslider" colorset="white" order_target="list_order" module_srls="{$layout_info->module_srl2}" thumbnail_type="crop" /> 
    <!--@elseif($layout_info->wcode2)-->
    {$layout_info->wcode2}
    <!--@end-->
    </div>

   <div class="mainwidget" cond="$layout_info->wcode3 || $layout_info->module_srl3">    
    <!--@if($layout_info->module_srl3)--> 
    <img class="zbxe_widget_output" widget="photoslider" skin="imageslider" colorset="white" order_target="list_order" module_srls="{$layout_info->module_srl3}" thumbnail_type="crop" /> 
    <!--@elseif($layout_info->wcode3)-->
    {$layout_info->wcode3}
    <!--@end-->
    </div>            

   <div class="mainwidget" cond="$layout_info->wcode4 || $layout_info->module_srl4">    
    <!--@if($layout_info->module_srl4)--> 
    <img class="zbxe_widget_output" widget="photoslider" skin="imageslider" colorset="white" order_target="list_order" module_srls="{$layout_info->module_srl4}" thumbnail_type="crop" /> 
    <!--@elseif($layout_info->wcode4)-->
    {$layout_info->wcode4}
    <!--@end-->
    </div>            

   <div class="mainwidget" cond="$layout_info->wcode5 || $layout_info->module_srl5">    
    <!--@if($layout_info->module_srl5)--> 
    <img class="zbxe_widget_output" widget="photoslider" skin="imageslider" colorset="white" order_target="list_order" module_srls="{$layout_info->module_srl5}" thumbnail_type="crop" /> 
    <!--@elseif($layout_info->wcode5)-->
    {$layout_info->wcode5}
    <!--@end-->
    </div>            


   <div class="mainwidget" cond="$layout_info->wcode6 || $layout_info->module_srl6">    
    <!--@if($layout_info->module_srl6)--> 
    <img class="zbxe_widget_output" widget="photoslider" skin="imageslider" colorset="white" order_target="list_order" module_srls="{$layout_info->module_srl6}" thumbnail_type="crop" /> 
    <!--@elseif($layout_info->wcode6)-->
    {$layout_info->wcode6}
    <!--@end-->
    </div>            

   <div class="mainwidget" cond="$layout_info->wcode7 || $layout_info->module_srl7">    
    <!--@if($layout_info->module_srl7)--> 
    <img class="zbxe_widget_output" widget="photoslider" skin="imageslider" colorset="white" order_target="list_order" module_srls="{$layout_info->module_srl7}" thumbnail_type="crop" /> 
    <!--@elseif($layout_info->wcode7)-->
    {$layout_info->wcode7}
    <!--@end-->
    </div>            


   <div class="mainwidget" cond="$layout_info->wcode8 || $layout_info->module_srl8">    
    <!--@if($layout_info->module_srl8)--> 
    <img class="zbxe_widget_output" widget="photoslider" skin="imageslider" colorset="white" order_target="list_order" module_srls="{$layout_info->module_srl8}" thumbnail_type="crop" /> 
    <!--@elseif($layout_info->wcode8)-->
    {$layout_info->wcode8}
    <!--@end-->
    </div>

   <div class="mainwidget" cond="$layout_info->wcode9|| $layout_info->module_srl9">    
    <!--@if($layout_info->module_srl9)--> 
    <img class="zbxe_widget_output" widget="photoslider" skin="imageslider" colorset="white" order_target="list_order" module_srls="{$layout_info->module_srl9}" thumbnail_type="crop" /> 
    <!--@elseif($layout_info->wcode9)-->
    {$layout_info->wcode9}
    <!--@end-->
    </div>

   <div class="mainwidget" cond="$layout_info->wcode10 || $layout_info->module_srl10">    
    <!--@if($layout_info->module_srl10)--> 
    <img class="zbxe_widget_output" widget="photoslider" skin="imageslider" colorset="white" order_target="list_order" module_srls="{$layout_info->module_srl10}" thumbnail_type="crop" /> 
    <!--@elseif($layout_info->wcode10)-->
    {$layout_info->wcode10}
    <!--@end-->
    </div>  
    
     

<div>
{$content}
</div>