  <div cond="$layout_info->sidewidget1" <!--@if($layout_info->sidewidget1_b=="yes")--> class="widget_box border"<!--@else-->class="widget_box"<!--@end-->>
   		<span class="ctitle" cond="$layout_info->sidewidget1_t"><a>{$layout_info->sidewidget1_t}</a></span>
   		<div class="cwidget">{$layout_info->sidewidget1}</div>
   </div>
   <div cond="$layout_info->sidewidget2" <!--@if($layout_info->sidewidget2_b=="yes")--> class="widget_box border"<!--@else-->class="widget_box"<!--@end-->>
      <span class="ctitle" cond="$layout_info->sidewidget2_t"><a>{$layout_info->sidewidget2_t}</a></span>
   	  <div class="cwidget">{$layout_info->sidewidget2}</div>
   </div>
    <div cond="$layout_info->sidewidget3" <!--@if($layout_info->sidewidget3_b=="yes")--> class="widget_box border"<!--@else-->class="widget_box"<!--@end-->>
       <span class="ctitle" cond="$layout_info->sidewidget3_t"><a>{$layout_info->sidewidget3_t}</a></span>
   	   <div class="cwidget">{$layout_info->sidewidget3}</div>
   </div>
   <div cond="$layout_info->sidewidget4" <!--@if($layout_info->sidewidget4_b=="yes")--> class="widget_box border"<!--@else-->class="widget_box"<!--@end-->>
      <span class="ctitle" cond="$layout_info->sidewidget4_t"><a>{$layout_info->sidewidget4_t}</a></span>
   	  <div class="cwidget">{$layout_info->sidewidget4}</div>
   </div>
   <!--side ad 만들기-->
   <div class="side_banner" cond="$layout_info->sidead1">
	<a href="{$layout_info->sidead1_url}"><img src="{$layout_info->sidead1}" alt="{$layout_info->sidead1_alt}" /></a>
   </div>
   <div class="side_banner"  cond="$layout_info->sidead2">
	<a href="{$layout_info->sidead2_url}"><img src="{$layout_info->sidead2}" alt="{$layout_info->sidead2_alt}" /></a>
   </div>
   <div class="side_banner"  cond="$layout_info->sidead3">
	<a href="{$layout_info->sidead3_url}"><img src="{$layout_info->sidead3}" alt="{$layout_info->sidead3_alt}" /></a>
   </div>
   <div class="side_banner"  cond="$layout_info->sidead4">
	<a href="{$layout_info->sidead4_url}"><img src="{$layout_info->sidead4}" alt="{$layout_info->sidead4_alt}" /></a>
   </div>
   <div class="side_banner"  cond="$layout_info->sidead5">
	<a href="{$layout_info->sidead5_url}"><img src="{$layout_info->sidead5}" alt="{$layout_info->sidead5_alt}" /></a>
   </div>
   <div class="side_banner"  cond="$layout_info->sidead6">
	<a href="{$layout_info->sidead6_url}"><img src="{$layout_info->sidead6}" alt="{$layout_info->sidead6_alt}" /></a>
   </div>
   <div class="side_banner"  cond="$layout_info->sidead7">
	<a href="{$layout_info->sidead7_url}"><img src="{$layout_info->sidead7}" alt="{$layout_info->sidead7_alt}" /></a>
   </div>
   <div class="side_banner"  cond="$layout_info->sidead8">
	<a href="{$layout_info->sidead8_url}"><img src="{$layout_info->sidead8}" alt="{$layout_info->sidead8_alt}" /></a>
   </div>

   